body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
#page{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}
#nav{
    width: 20%;
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
    font-family: monospace;
    font-size: 20px;
}
.navItem{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    user-select: none;
}
.navItem p{
    height: 20px;
    margin-top: 15px;
}
.navItem:hover{
    color: white;
    background-color: black;
}
#imageBlock{
    z-index: 1;
    width: 80vw;
    height: 100vh;
    margin: 0;
    background: url('/assets/img/DSC_0013.jpg') center / cover no-repeat, rgba(44,44,44,0);
    filter: blur(17px) brightness(49%) grayscale(100%) hue-rotate(360deg) sepia(29%);
}
#name{
    z-index: 2;
    color: white;
}
#name p{
    z-index: 3;
}
.smalltext{
    font-size: 15px;
    height: 30px;
}
.smalltext p{
    margin-top: 7.5px;
}
#contentBlock{
    z-index: 3;
    margin-left: -80vw;
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    flex-direction: column;
}
#contentBlock h1{
    font-size: 40px;
}
#contentBlock p{
    font-size: 16px;
}